header {
  background: #fff;
  padding: 0 10% 1% 10%;
}

.logo {
  font-weight: 300;
  letter-spacing: 1px;
  span {
    color: #a4cfff;
  }
}

nav {
  padding-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: 700;
  ul {
    display: flex;
    text-transform: uppercase;
    li {
      list-style: none;
      a {
        padding: 1rem;
        margin: 0 .5rem;
        position: relative;
        letter-spacing: 2px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}
