@import "../sass/abstracts/variables";
@import "../sass/base/fonts";

button {
  border: none;
  padding: 1rem 2rem;
  margin-top: 1rem;
  text-decoration: none;
  background: $color-secondary;
  color: $color-white;
  font-family: $source-sans, sans-serif;
  font-size: 1rem;
  line-height: 1;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  &:hover,
  &:focus {
    background: $color-secondary-dark;
  }
  &:focus {
    outline: 1px solid $color-white;
    outline-offset: -4px;
  }
  &:active {
    transform: scale(0.99);
  }
}
