@import '../sass/abstracts/variables';
@import '../sass/base/fonts';

.container {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h2 {
    font-family: $mplus, sans-serif;
    font-size: 2rem;
    letter-spacing: 3px;
    text-transform: uppercase;
  }
}

.form {
  width: 30%;
  height: 30%;
  margin: 2rem;
  padding: 1rem;
  border: 1px solid $color-primary-dark;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;

  .form__success {
    background: $color-success;
    font-size: 0.8rem;
    padding: 10px;
    margin: 5px;
    border-radius: 0;
    box-shadow: 1px 1px 1px $color-primary-dark;
  }

  .form__alert div {
    background: $color-failure;
    font-size: 0.8rem;
    padding: 10px;
    margin: 5px;
    border-radius: 0;
    box-shadow: 1px 1px 1px $color-primary-dark;
  }

  button {
    border: none;
    padding: 1rem 2rem;
    margin-top: 1rem;
    text-decoration: none;
    background: $color-secondary;
    color: $color-white;
    font-family: $source-sans, sans-serif;
    font-size: 1rem;
    line-height: 1;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, transform 150ms ease;
    &:hover,
    &:focus {
      background: $color-secondary-dark;
    }
    &:focus {
      outline: 1px solid $color-white;
      outline-offset: -4px;
    }
    &:active {
      transform: scale(0.99);
    }
  }
}
