@import "../sass/abstracts/variables";
@import "../sass/base/fonts";
@import "../sass/components/button";
@import "../sass/components/input";
@import "../sass/abstracts/mixins";
@import "../sass/components/form";

.container {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h2 {
    @include headline($color-primary-dark, 2rem);
    font-family: $mplus, sans-serif;
    letter-spacing: 3px;
    text-transform: uppercase;
  }
}
