.dashboard {
  padding: 0 10%;
}
.dashboard--title {
  margin-top: 4%;
  padding-bottom: 2%;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #dadada;
  display: flex;
  font-size: 2.5rem;
  justify-content: center;
  border-bottom: 1px solid #dadada;
}
