$color-primary: #f2f2f2;
$color-primary-dark: #dadada;
$color-secondary: #a4cfff;
$color-secondary-dark: #87bcfa;

$color-black: #181818;
$color-white: #fff;


$color-success: #eafcee;
$color-text-success: #1acc63;
$color-text-success-light: #53ef8d;

$color-failure: #fcebea;
$color-text-failure: #cc1f1a;
$color-text-failure-light: #ef5753;
