$color-primary: #f2f2f2;
$color-primary-dark: #dadada;
$color-secondary: #a4cfff;
$color-secondary-dark: #87bcfa;

$color-black: #181818;
$color-white: #fff;
$color-success: #b0ffb0;
$color-failure: #ffb0c7;
